dory_input_features/
dory_update/
quantization/*.txt
*.onnx
*BUILD/
*BUILD_MFCC/
*.pth
*__pycache__*
logs/
wavsrc/*
*slm
*hex
*inc
*src
temp/*
tinytest/*
*.sh
quantization/models/
quantization/tinytest/
deployment/DSCNN_LIBROSA_SRC
*vars.mk
*gap8_to_gap9/SRC*
