*__pycache__*

*.dat
*_emul
*.log
*.ipynb_checkpoints
*.wav
*.txt
*.csv
*.npy

DSCNN*
BUILD*
build*

pretrained/
export/*
generate/*
application/build/
application/generate/
*/experiments_*

logs/
models/
validation/
testing/
res/



