dory_input_features/
dory_update/
quantization/models/
quantization/tinytest/
deployment/DSCNN_LIBROSA_SRC
deployment/DSCNN_TENSORFLOW_SRC
deployment/models_v1
logs/
wavsrc/
temp/
tinytest/
DSCNN_*
application_*
*gap8_to_gap9/SRC*

example*

*BUILD/
*BUILD_MFCC/
*__pycache__*
*hex
*inc
*src

*.onnx
*.pth
*.slm
*vars.mk
*.npy
*.txt
*.wav

config_network.json



